$theme-colors: {
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "black":      $black,
}
@media only screen and (max-width: 960px) {
    .header .social-icons-container {
        display:block;
    }
    .header__extras {
        flex: 0 0 25%;
    }
    .header__nav-toggle {
        flex: 0;   
    }
}
*{
  font-family: 'Open Sans', sans-serif;
}

   i {
  font-family: FontAwesome !important;
       padding-left: 25px;
      }
  i.fa.fa-facebook {
  font-family: FontAwesome !important;
       padding-left: 30px;
       .fa:hover {
        opacity: 0.9;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-pinterest {
        background: #cb2027;
        color: white;
    }

    .fa-reddit {
        background: #ff5700;
        color: white;
    }

    .fa {
        padding: 20px;
        font-size: 40px;
        width: 60px;
        text-decoration: none;
        margin: 5px 80px;
    }
  
}

  body{
      margin: 0 auto;
      padding: 0 auto;
  }
